.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-color);
  min-height: 10vh;
  position: relative;
  z-index: 3;
}

.footer-header {
  margin: 1rem 0 0.5rem;
}

.footer-links {
  margin: 0.5rem 0 1rem;
}
