@import "./Components/style-sheet.css";
@import "./css/nav.css";
@import "./css/sidebar.css";
@import "./css/footer.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-text-color: #ff4d5a;
  --secondary-text-color: #aaa;
  --background-color: #f5f5f7;
  --sidebar-color: #e4e4e4;
  --aside-color: #eee;
  --footer-color: #ddd;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: #3e4152;
}

a {
  text-decoration: none;
  color: #000;
}

.nav li,
.aside li {
  list-style: none;
}

.main {
  padding: 3rem;
}

.grid-layout {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0px;
  margin-bottom: 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  margin-right: 3rem;
}

.text-container > h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.text-container > h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.text-container > p {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.button-container > .button:nth-child(1) {
  margin-right: 10px;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: 600;
}

.primary-btn {
  background-color: var(--primary-text-color);
  color: #e8e6e3;
  border: 1px solid var(--primary-text-color);
}

.secondary-btn {
  border: 1px solid var(--primary-text-color);
  color: var(--primary-text-color);
  background-color: transparent;
}

.img-responsive {
  width: 100%;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.code-snippet {
  width: 100%;
  display: flex;
  align-items: center;
}

.code-snippet-display {
  box-sizing: border-box;
  width: 100%;
  max-height: 300px;
  padding: 1rem 0;
  overflow: auto;
}

.code-snippet-display iframe {
  width: 100%;
  border: none;
}

.docs-main {
  padding: 2rem;
}

.section {
  box-sizing: border-box;
  padding: 2rem 0;
}

.section-border-bottom {
  border-bottom: 2px solid #777;
}

.section > h1,
.section > h2 {
  margin-bottom: 1.25rem;
}

.section > p {
  margin-bottom: 1.5rem;
}

.style-classes {
  color: var(--primary-text-color);
}

.component-display-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 2rem 0;
  border: 2px solid var(--secondary-text-color);
  align-items: baseline;
  border-radius: 0.3rem;
  width: 100%;
  box-sizing: border-box;
}

.docs-main .code-snippet-display {
  margin-bottom: 2rem;
}

.scroll-to-top {
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-text-color);
  text-decoration: none;
  color: #fff;
  position: fixed;
  right: 50px;
  bottom: 75px;
  z-index: 4;
}

@media (max-width: 800px) {
  .main {
    padding: 2rem;
  }

  .docs-main {
    padding: 2rem;
  }

  .text-container > h1 {
    font-size: 2rem;
  }

  .text-container > h2 {
    font-size: 2rem;
  }

  .text-container > p {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .main {
    padding: 1rem;
  }

  .docs-main {
    padding: 1rem;
  }

  .grid-layout {
    grid-template-columns: 1fr;
  }

  .text-container {
    margin: 1.5rem 0 1rem;
  }

  .scroll-to-top {
    font-size: 1.25rem;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
  }
}

/* flex styles */

.display-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.gap-20 {
  gap: 20px;
}
